**/__pycache__/
**/.DS_Store
old_README.md
**/.idea
datasets
code/baselines/CLOCS/data
code/baselines/Mixing-up/data
code/baselines/TS-TCC/data
code/baselines/SimCLR/SleepEEG
code/baselines/SimCLR/Epilepsy
code/baselines/SimCLR/HAR
code/baselines/SimCLR/Gesture
code/baselines/SimCLR/FD-B
code/baselines/SimCLR/FD-A
code/baselines/SimCLR/EMG
code/baselines/SimCLR/ECG
code/baselines/TS2vec/datasets
code/TFC/wandb
artifacts
wandb
*.log
*.pt
*.zip
